
<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "bootstrap.css" %>
    <%= stylesheet_link_tag "clean-blog.css" %>
    <%= stylesheet_link_tag "clean-blog.min.css" %>
    <%= javascript_include_tag "clean-blog.min.js" %>
    <%= javascript_include_tag "bootstrap.bundle.min.js" %>
    <%= javascript_include_tag "bootstrap.min.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 



  </head>

  <body>
  	<%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
